In [1]:
import numpy as np
import pandas as pd

## Importing Data Open Payments

In [2]:
df_2013 = pd.read_csv('../data/open_payments/General_Payment_Data___Detailed_Dataset_2013_Reporting_Year.csv', dtype=str)
df_2014 = pd.read_csv('../data/open_payments/General_Payment_Data___Detailed_Dataset_2014_Reporting_Year.csv', dtype=str)
df_2015 = pd.read_csv('../data/open_payments/General_Payment_Data___Detailed_Dataset_2015_Reporting_Year.csv', dtype=str)
df_2016 = pd.read_csv('../data/open_payments/General_Payment_Data___Detailed_Dataset_2016_Reporting_Year.csv', dtype=str)

In [3]:
df = pd.concat([df_2013, df_2014, df_2015, df_2016], sort=False)

In [4]:
df.head()

,Change_Type,Covered_Recipient_Type,Teaching_Hospital_CCN,Teaching_Hospital_ID,Teaching_Hospital_Name,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Physician_Name_Suffix,...,Covered_or_Noncovered_Indicator_4,Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_4,Product_Category_or_Therapeutic_Area_4,Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_4,Associated_Drug_or_Biological_NDC_4,Covered_or_Noncovered_Indicator_5,Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5,Product_Category_or_Therapeutic_Area_5,Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5,Associated_Drug_or_Biological_NDC_5
0,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,174740,LISA,NaN,CAPALDINI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,154459,UTKU,NaN,KANDEMIR,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,820445,CAROL,K,LEE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,801,PAUL,NaN,HEIM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,338981,BRUCE,A.,CREE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['Total_Amount_of_Payment_USDollars'] = pd.to_numeric(df['Total_Amount_of_Payment_USDollars'])
df['Number_of_Payments_Included_in_Total_Amount'] = pd.to_numeric(df['Number_of_Payments_Included_in_Total_Amount'])
df['Program_Year'] = pd.to_numeric(df['Program_Year'])
df['Date_of_Payment'] = pd.to_datetime(df['Date_of_Payment'])
df['Payment_Publication_Date'] = pd.to_datetime(df['Payment_Publication_Date'])

In [6]:
df.head()

,Change_Type,Covered_Recipient_Type,Teaching_Hospital_CCN,Teaching_Hospital_ID,Teaching_Hospital_Name,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Physician_Name_Suffix,...,Covered_or_Noncovered_Indicator_4,Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_4,Product_Category_or_Therapeutic_Area_4,Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_4,Associated_Drug_or_Biological_NDC_4,Covered_or_Noncovered_Indicator_5,Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5,Product_Category_or_Therapeutic_Area_5,Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5,Associated_Drug_or_Biological_NDC_5
0,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,174740,LISA,NaN,CAPALDINI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,154459,UTKU,NaN,KANDEMIR,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,820445,CAROL,K,LEE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,801,PAUL,NaN,HEIM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,338981,BRUCE,A.,CREE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns = df.columns.str.lower()

In [ ]:
df['full_address'] = df['recipient_primary_business_street_address_line1'].fillna('') \
  + ' ' + df['recipient_primary_business_street_address_line2'].fillna('') \
  + ', ' + df['recipient_city'].fillna('') \
  + ', ' + df['recipient_state'].fillna('') \
  + ' ' + df['recipient_zip_code'].fillna('')

df['full_address'].replace({' ,': ','}, inplace=True, regex=True)

In [ ]:
df['physician_full_name'] = df['physician_first_name'].fillna('')\
  + ' ' + df['physician_middle_name'] \
  + ' ' + df['physician_last_name'] \
  + ' ' + df['physician_name_suffix']
df['physician_full_name'].replace({'  ': ' '}, inplace=True, regex=True)

In [8]:
df.to_csv('../data/open_payments/payment_data_all_years.csv', index=False)

Alternatively, we could push the above to a Postgres DB

In [11]:
df_grouped = df.groupby([
    'physician_first_name',
    'physician_middle_name',
    'physician_last_name',
    'physician_name_suffix',
    'physician_full_name',
    'full_address',
]).agg({'total_amount_of_payment_usdollars': 'sum'})

In [12]:
df_grouped.reset_index(inplace=True)

In [13]:
sz = df_grouped['total_amount_of_payment_usdollars'].size-1
df_grouped['pcnt_total_amount_of_payment_us_dollars'] = \
  df_grouped['total_amount_of_payment_usdollars'].rank(method='max').apply(lambda x: 100.0*(x-1)/sz)

In [14]:
df_grouped['quantile_total_amount_of_payment_us_dollars'] = df_grouped['pcnt_total_amount_of_payment_us_dollars'] / 20

In [15]:
df_grouped['quantile_total_amount_of_payment_us_dollars'] =\
  df_grouped['quantile_total_amount_of_payment_us_dollars'].apply(np.ceil)

In [16]:
df_grouped.to_csv('../output/open_payments_grouped_by_physician.csv', index=False)

## Importing Medicare Prescription Data

In [18]:
df_2013 = pd.read_csv('../data/medicare_partd_prescriptions/Medicare_Provider_Utilization_and_Payment_Data__2013_Part_D_Prescriber.csv', dtype=str)
df_2014 = pd.read_csv('../data/medicare_partd_prescriptions/Medicare_Provider_Utilization_and_Payment_Data__2014_Part_D_Prescriber.csv', dtype=str)
df_2015 = pd.read_csv('../data/medicare_partd_prescriptions/Medicare_Provider_Utilization_and_Payment_Data__2015_Part_D_Prescriber.csv', dtype=str)
df_2016 = pd.read_csv('../data/medicare_partd_prescriptions/Medicare_Provider_Utilization_and_Payment_Data__2016_Part_D_Prescriber.csv', dtype=str)

In [19]:
df = pd.concat([df_2013, df_2014, df_2015, df_2016], sort=False)

In [21]:
df['bene_count'] = pd.to_numeric(df['bene_count'])
df['total_claim_count'] = pd.to_numeric(df['total_claim_count'])
df['total_30_day_fill_count'] = pd.to_numeric(df['total_30_day_fill_count'])
df['total_day_supply'] = pd.to_numeric(df['total_day_supply'])
df['total_drug_cost'] = pd.to_numeric(df['total_drug_cost'])
df['bene_count_ge65'] = pd.to_numeric(df['bene_count_ge65'])
df['total_claim_count_ge65'] = pd.to_numeric(df['total_claim_count_ge65'])
df['total_30_day_fill_count_ge65'] = pd.to_numeric(df['total_30_day_fill_count_ge65'])
df['total_day_supply_ge65'] = pd.to_numeric(df['total_day_supply_ge65'])
df['total_drug_cost_ge65'] = pd.to_numeric(df['total_drug_cost_ge65'])

In [22]:
df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1003051780,JIN,WENWU,SAN FRANCISCO,CA,Urology,S,AVODART,DUTASTERIDE,97.0,...,697.8,20935,88437.40,NaN,#,NaN,#,NaN,NaN,NaN
1,1003051780,JIN,WENWU,SAN FRANCISCO,CA,Urology,S,CIPROFLOXACIN HCL,CIPROFLOXACIN HCL,203.0,...,263.0,1134,1139.52,192.0,NaN,251.0,NaN,251.0,1082.0,1087.08
2,1003051780,JIN,WENWU,SAN FRANCISCO,CA,Urology,S,DESMOPRESSIN ACETATE,DESMOPRESSIN ACETATE,19.0,...,54.0,1309,2365.15,19.0,NaN,32.0,NaN,54.0,1309.0,2365.15
3,1003051780,JIN,WENWU,SAN FRANCISCO,CA,Urology,S,DOXAZOSIN MESYLATE,DOXAZOSIN MESYLATE,NaN,...,42.0,1260,466.29,NaN,*,16.0,NaN,42.0,1260.0,466.29
4,1003051780,JIN,WENWU,SAN FRANCISCO,CA,Urology,S,FINASTERIDE,FINASTERIDE,262.0,...,1955.0,58650,29551.67,NaN,#,NaN,#,NaN,NaN,NaN

In [23]:
df.to_csv('../data/medicare_partd_prescriptions/part_d_prescriber_all_years.csv', index=False)